#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

html {
  width: 100vw;
}

.background-login {
  background: url("./assets/images/login-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
}